@media (min-width: 992px) {
  .jumbotron-index .jumbotron-container {
		position: relative;
	}
	
	.jumbotron-index .jumbotron-text {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}


body {
	font-family: "Vazirmatn", sans-serif;
	letter-spacing: normal;
  margin: 0;
  min-height: 100vh;
  position: relative;
}

body::after {
  content: "";
  display: block;
  height: 65px;
}


button {
	font-weight: normal;
}


footer {
	background-color: #1a1a1a;
	bottom: 0;
	height: 65px;
	position: absolute;
	width: 100%;
}


footer .p-4 {
	padding: 25px 20px 15px 20px !important;
}


h1 {
	letter-spacing: normal;
}


#body-index {
	background-color: #242936;
	color: #d5d5d5;
}


#body-index h1 {
	color: #ffffff !important;
}


#body-story {
	background-color: #36242e;
	color: #d5d5d5;
}


#jumbotron-logo {
	margin-bottom: 10px;
	padding: 20px;
	width: 100%;
}


#selector-cancer {
	direction: rtl;
	margin-bottom: 16px;
}


#selector-cancer label {
	font-size: 25px;
}


#selector-cancer-type {
	background-color: #ffffff;
	background-position: left 1.5rem center;
	border: 1px solid #ced4da;
	font-size: 20px;
	padding: 0.75rem 1.5rem 0.75rem 4.5rem;
}


#social-media {
	text-align: right;
}


.block {
	direction: rtl;
	margin: 50px 0;
	text-align: justify;
}


.block h1 {
	font-size: 50px;
}


.block p {
	font-size: 25px;
}


.blockquote {
	font-style: italic;
}


.btn-big {
	font-size: 25px;
	width: 100%;
}


.btn-social button {
	border-radius: 50%;
  display: inline-block;
  font-size: 31px;
  height: 60px;
	margin-bottom: 5px;
	padding: 13px 13px 18px 15px;
	width: 60px;
}


.card {
	direction: rtl;
	text-align: justify;
}


.card:last-child {
	margin-bottom: 100px !important;
}


.card-body {
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
}


.card-text {
	font-size: 20px;
}


.card-title {
	font-size: 40px;
}


.jumbotron {
	margin-bottom: 100px;
	padding-top: 100px;
	padding-bottom: 100px;
}


.jumbotron-index {
	background-color: #365562;
}


.jumbotron-stories {
	background-color: #2b6e6a;
	padding: 200px 0;
}


.jumbotron-story {
	background-color: #6e2b58;
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
}


.jumbotron-stories .jumbotron-text {
	text-align: center;
}


.jumbotron-text {
	direction: rtl;
	padding: 20px;
	text-align: justify;
}


.jumbotron-text h1 {
	color: #ffffff;
	font-size: 60px;
}


.jumbotron-text p {
	color: #ffffff;
	font-size: 30px;
}
